@import "assets/styles/helper";

.breadcrumb-wrapper {
  margin: 0 auto;
  max-width: 74rem;
  width: 90%;
  word-wrap: break-word;

  .breadcrumb {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0 2.5rem;

    .breadcrumb-title {
      font-size: 18px;
      font-weight: 600;
    }

    .separator::before {
      content: "";
      border: 1.5px solid #000;
      margin: 0 0.6rem;
      font-size: 1.25rem;
      font-weight: 400;
    }

    .breadcrumb-label {
      display: inline;
      font-size: 12px;

      .breadcrumb-link {
        a {
          text-decoration: none;
          color: #999999;

          &:hover {
            text-decoration: underline;
          }
        }

        &::after {
          content: "|";
          margin: 0 0.2rem;
        }
      }
    }
  }
}
