<div class="container">
  <div class="m-b-40 flex gap-x-5">
    <!--

      <mat-card class="frequent-activities">

        <mat-card-header class="header">
          <h3><fa-icon icon="laptop"></fa-icon>
          &nbsp;&nbsp; {{"labels.heading.Frequent Activities"  |translate}}</h3>
        </mat-card-header>

        <mat-card-content>
          <mat-action-list class="list">
            <button mat-list-item *ngFor="let activity of frequentActivities"
            [routerLink]="activity"> {{ activity | urlToString }} </button>
          </mat-action-list>
        </mat-card-content>
        
      </mat-card> -->

    <div class="flex-1">
      <mifosx-client-trends-bar></mifosx-client-trends-bar>
    </div>
    <div class="w-[250px] rounded-lg overflow-hidden border border-gray-200 bg-white hidden lg:flex">
      <mat-card class="recent-activities w-full">
        <h3 class="font-medium text-base mb-4">{{ "labels.heading.Recent Activities" | translate }}</h3>

        <mat-card-content class="w-full">
          <ul class="list text-sm w-full pl-0 grid gap-y-2">
            <li class="!text-sm flex items-center gap-x-1 justify-between py-1 w-full px-0 cursor-pointer hover:underline hover:text-green-900" mat-list-item *ngFor="let activity of recentActivities" (click)="navigatetoActivity(activity)">
              {{ activity | urlToString }}  <fa-icon icon="chevron-right" size="xs" class="m-r-2 text-xs"></fa-icon> 
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row gap-6">
    <mifosx-amount-disbursed-pie class="w-full"></mifosx-amount-disbursed-pie>
    <mifosx-amount-collected-pie class="w-full"></mifosx-amount-collected-pie>
  </div>
</div>
