$primary-palette: (
  100: #1849a9,
  500: #1849a9,
  700: #1849a9,
  contrast: (
    100: #fff,
    500: #fff,
    700: #fff,
  ),
);

$accent-palette: (
  100: #0766FF,
  500: #1849a9,
  700: #1849a9,
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(black, 0.87),
    700: rgba(black, 0.87),
  ),
);
