$primary-palette: (
  100: #9fe870,
  500: #9fe870,
  700: #9fe870,
  contrast: (
    100: rgba(22, 51, 0, 1),
    500: rgba(22, 51, 0, 1),
    700: rgba(22, 51, 0, 1),
  ),
);

$accent-palette: (
  100: #e7ffa5,
  500: #b4d575,
  700: #83a447,
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(black, 0.87),
    700: rgba(black, 0.87),
  ),
);
