<div
  [ngClass]="{
    'sidebar-full': !sidenavCollapsed,
    'sidebar-compact': sidenavCollapsed
  }"
>
  <div class="navigation-panel flex flex-column justify-between overflow-y-auto" fxLayout="column">
    <!-- TODO: Allow customization by organization -->
    <div>
      <div
        class="app-brand"
        [routerLink]="['/home']"
        [ngClass]="{
          'pl-4': !sidenavCollapsed,
          'pl-0': sidenavCollapsed
        }"
      >
        <img
          [ngClass]="{
            hide: !sidenavCollapsed,
            show: sidenavCollapsed
          }"
          src="assets/images/icon.png"
          alt="app-logo"
          class="app-logo"
        />
        <img
          [ngClass]="{
            show: !sidenavCollapsed,
            hide: sidenavCollapsed
          }"
          src="assets/images/logo.svg"
          alt="app-logo"
          class="app-logo"
        />
      </div>

      <div class="app-sidenav px-5">
        <mat-nav-list>
          <mat-list-item [routerLink]="['/home']" [routerLinkActive]="'is-active '" matTooltip="Home">
            <div class="flex items-center gap-x-[10px]">
              <app-home-svg matListItemIcon></app-home-svg>

              <a matListItemLine class="f14" #home>{{ "labels.breadcrumbs.Home" | translate }}</a>
            </div>
          </mat-list-item>
          <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="'is-active'" matTooltip="Dashboard">
            <div class="flex items-center gap-x-[10px]">
              <app-dashboard-svg></app-dashboard-svg>

              <a matLine class="f14" #dashboard>{{ "labels.menus.Dashboard" | translate }}</a>
            </div>
          </mat-list-item>
          <mat-list-item [routerLink]="['/groups']" [routerLinkActive]="'is-active'" matTooltip="Groups">
            <div class="flex items-center gap-x-[10px]">
              <app-groups-svg></app-groups-svg>

              <a matLine class="f14" #groups>{{ "labels.menus.Groups" | translate }}</a>
            </div>
          </mat-list-item>
          <mat-list-item [routerLink]="['/centers']" [routerLinkActive]="'is-active'" matTooltip="Centers">
            <div class="flex items-center gap-x-[10px]">
              <app-center-svg></app-center-svg>

              <a matLine class="f14" #centers>{{ "labels.menus.Centers" | translate }}</a>
            </div>
          </mat-list-item>

          <mat-list-item [routerLink]="['/clients']" [routerLinkActive]="'is-active'" matTooltip="Clients">
            <div class="flex items-center gap-x-[10px]">
              <app-client-svg></app-client-svg>

              <a matLine class="f14" #clients>{{ "labels.menus.Clients" | translate }}</a>
            </div>
          </mat-list-item>
          <mat-list-item [routerLink]="['/accounting']" [routerLinkActive]="'is-active'" matTooltip="Accounting">
            <div class="flex items-center gap-x-[10px]">
              <app-accounting-svg></app-accounting-svg>

              <a matLine class="f14" #accounting>{{ "labels.menus.Accounting" | translate }}</a>
            </div>
          </mat-list-item>

          <div
            class="p-h-8"
            [ngClass]="{
              hide: sidenavCollapsed
            }"
          >
            <mat-accordion>
              <mat-expansion-panel
                (opened)="reportsOpenState = true"
                (closed)="reportsOpenState = false"
                [ngClass]="{
                  transparent: !reportsOpenState
                }"
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title>
                    <div class="flex items-center gap-x-[10px]">
                      <app-report-svg (click)="sidenavCollapsed = false"></app-report-svg>

                      <span
                        [ngClass]="{
                          hide: sidenavCollapsed
                        }"
                        class="f14"
                      >
                        {{ "labels.menus.Reports" | translate }}</span
                      >
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div mat-menu-item [routerLink]="['/reports']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ "labels.menus.All" | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/reports', 'Client']"
                  [routerLinkActive]="'is-active'"
                  class="f14 h36"
                >
                  {{ "labels.menus.Clients" | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/reports', 'Loan']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ "labels.menus.Loans" | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/reports', 'Savings']"
                  [routerLinkActive]="'is-active'"
                  class="f14 h36"
                >
                  {{ "labels.menus.Savings" | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/reports', 'Fund']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ "labels.menus.Funds" | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/reports', 'Accounting']"
                  [routerLinkActive]="'is-active'"
                  class="f14 h36"
                >
                  {{ "labels.menus.Accounting" | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/xbrl']">{{ "labels.menus.XBRL" | translate }}</div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <mat-list-item [routerLink]="['/settings']" [routerLinkActive]="'is-active'" matTooltip="Settings">
            <div class="flex items-center gap-x-[10px]">
              <app-settings-svg></app-settings-svg>
           

            <a matLine class="f14" #settings>{{ "labels.menus.Settings" | translate }}</a> </div>
          </mat-list-item>

          <div
            class="p-h-8"
            [ngClass]="{
              hide: sidenavCollapsed
            }"
          >
            <mat-accordion>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
                [ngClass]="{
                  transparent: !panelOpenState
                }"
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title>
                     <div class="flex items-center gap-x-[10px]">
                      <app-admin-svg (click)="sidenavCollapsed = false"></app-admin-svg>
                    
                    <span
                      [ngClass]="{
                        hide: sidenavCollapsed
                      }"
                      class="f14"
                    >
                      {{ "labels.menus.Admin" | translate }}</span
                    ></div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div mat-menu-item [routerLink]="['/users']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ "labels.menus.Users" | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/organization']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ "labels.menus.Organization" | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/system']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ "labels.menus.System" | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/products']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ "labels.menus.Products" | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/templates']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ "labels.menus.Templates" | translate }}
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div
            class="p-h-8"
            [ngClass]="{
              hide: sidenavCollapsed
            }"
          >
            <mat-accordion>
              <mat-expansion-panel
                (opened)="selfOpenState = true"
                (closed)="selfOpenState = false"
                [ngClass]="{
                  transparent: !selfOpenState
                }"
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title>
                    <div class="flex items-center gap-x-[10px]">
                      <app-self-service-svg (click)="sidenavCollapsed = false"></app-self-service-svg>
                   

                    <span
                      [ngClass]="{
                        hide: sidenavCollapsed
                      }"
                      class="f14"
                    >
                      {{ "labels.menus.Self Service" | translate }}</span
                    >
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div
                  mat-menu-item
                  [routerLink]="['/self-service/users']"
                  [routerLinkActive]="'is-active'"
                  matTooltip="User Management"
                  class="f14 h36"
                >
                  {{ "labels.menus.User Management" | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/self-service/app-configuration']"
                  [routerLinkActive]="'is-active'"
                  matTooltip="App Configuration"
                  class="f14 h36"
                >
                  {{ "labels.menus.App Configuration" | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/self-service/task-management']"
                  [routerLinkActive]="'is-active'"
                  matTooltip="Task Management"
                  class="f14 h36"
                >
                  {{ "labels.menus.Task Management" | translate }}
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-nav-list>
      </div>
    </div>

    <div class="bg-[#EDEFEB] w-[90%] px-[10px] py-[14px] rounded-lg mx-auto mb-8 flex justify-center items-center">
      <!-- <i
        [ngClass]="{
          hide: !sidenavCollapsed,
          show: sidenavCollapsed
        }"
        class="fa fa-user-circle f28 text-grey-3 app-avatar text-4xl"
        aria-hidden="true"
      ></i> -->
      <img
        [ngClass]="{
          hide: !sidenavCollapsed,
          show: sidenavCollapsed
        }"
        src="assets/images/av.svg"
        class="rounded-full h-[30px] w-[30px]"
        alt="Admin"
        width="30"
        height="30"
      />
      <div
        class="items-center gap-x-4"
        [ngClass]="{
          flex: !sidenavCollapsed,
          hide: sidenavCollapsed
        }"
      >
        <!-- <i class="fa fa-user-circle text-[30px] text-gray-400 app-avatar" aria-hidden="true"></i> -->
        <img src="assets/images/av.svg" class="rounded-full h-[30px] w-[30px]" alt="Admin" width="30" height="30" />
        <div class="text">
          <p class="text-xs text-[#0E0F0C] capitalize font-semibold">{{ username }}</p>
          <p class="text-[10px] text-[#6A6C6A]">{{ officeName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
