textarea {
  resize: both;
}

textarea.vertical {
  resize: vertical;
}

textarea.horizontal {
  resize: vertical;
}

textarea.noresize {
  resize: none;
}

.full-input input,
.full-input select,
.full-input textarea {
  width: 100%;
}

.normal input,
.normal select,
.normal textarea,
.full-input [type="checkbox"],
.full-input [type="radio"] {
  width: auto;
}

.mat-tab-body-content {
  margin-bottom: 20px;
}

.mat-datepicker-input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-content.mat-content-hide-toggle {
  margin-right: 0 !important;
}
.svg-active{
  path{
    stroke:#163300;
  }
}
.is-active {
  color: #163300 !important;
  background: #9fe870;
  border-radius: 10px;
  span {
    div {
      a {
        color: #163300 !important;
      }
    }
  }
}
.is-sub-active {
  color: #163300 !important;
 font-weight: 600;

}
input:focus {
  box-shadow: none !important;
  outline: none;
}
button {
  border-radius: 8px !important;
  box-shadow: none !important;
}